@import url(./reset.css);

body {
  background-color: #f9f9f9;
}

.menu {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.menu .left {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 24px;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.menu .center {
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
}

.menu .center input {
  width: 348px;
  height: 40px;
  border: 1px solid #cccccc;
  position: relative;
}

.menu .center button {
  width: 57px;
  height: 40px;
  border: 1px solid #cccccc;
}

.menu .right ul {
  display: flex;
  margin-top: 11px;
  margin-bottom: 11px;
  margin-right: 24px;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.menu .right .foto-de-perfil {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.assistir-video {
  margin-top: 28px;
  margin-left: 75px;
}

.assistir-video .conteudo-principal iframe {
  width: 952px;
  height: 537px;
}

.assistir-video h1{
  margin-top: 16px;
  font-weight: 700;
  font-size: 20px;
  list-style: 23.44px;
}

.assistir-video .video-actions {
  display: flex;
  margin-top: 16px;
  gap: 42px;
  align-items: center;
}

.assistir-video .video-actions .channel {
  align-items: center;
  display: flex;
  gap: 12px;
}

.assistir-video .video-actions .channel .descricao h2{
  text-transform: uppercase;
  font-weight: 700;
  line-height: 16.41px;
  font-size: 14px;
  color: #000;
}

.assistir-video .video-actions .channel .descricao p{
  text-transform: lowercase;
  font-weight: 400;
  line-height: 16.41px;
  font-size: 14px;
  color: #515151;
}

.assistir-video .video-actions .channel img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.assistir-video button {
  width: 159px;
  height: 40px;
  border-radius: 2px;
  background-color: #CC0000;
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16.41px;
  border: none;
}

.opcoes {
  display: flex;
  gap: 42px;
}

.opcoes .actions {
  display: flex;
  align-items: center;
}

.opcoes .actions p {
  margin-left: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
}

